[Desktop Entry]
Type=Application
Name=ViewMesh
Comment=Desktop sharing host
Exec=lan_screenshare_linux_tray
Icon=lanscreenshare
Terminal=false
Categories=Network;Utility;
StartupNotify=true
